<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channels</key>
	<array>
		<dict>
			<key>channel</key>
			<integer>1</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>red</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>2</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>green</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>3</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>blue</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>4</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>channel 4</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>5</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>channel 5</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>6</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>channel 6</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>7</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>brightness</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>8</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>red</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>9</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>green</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>10</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>blue</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>11</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>channel 11</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>12</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>channel 12</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>13</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>channel 13</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>14</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>brightness</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>15</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>red</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>16</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>green</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>17</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>blue</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>18</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>channel 18</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>19</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>channel 19</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>20</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>channel 20</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>21</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>brightness</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>22</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>red</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>23</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>green</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>24</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>blue</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>25</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>channel 25</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>26</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>channel 26</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>27</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>channel 27</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>28</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>brightness</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>29</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>red</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>30</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>green</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>31</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>blue</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>32</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>channel 31</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>33</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>channel 32</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>34</integer>
			<key>value</key>
			<integer>0</integer>
			<key>description</key>
			<string>channel 33</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>35</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>channel 34</string>
		</dict>
		<dict>
			<key>channel</key>
			<integer>36</integer>
			<key>value</key>
			<integer>255</integer>
			<key>description</key>
			<string>brightness</string>
		</dict>
	</array>
</dict>
</plist>
